src/enedis_odoo_bridge/enedis_flux_reader/zip_repository/schemas/ENEDIS.SGE.XSD.0293.Flux_R15_v2.3.2.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="R15" type="R15" />
	<xsd:complexType name="R15" mixed="false">
		<xsd:sequence>
			<xsd:element name="En_Tete_Flux" type="En_Tete_Flux" />
			<xsd:element name="PRM" type="PRM" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="En_Tete_Flux" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifiant_Flux">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="R15" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle_Flux">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="250" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Version_XSD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Identifiant_Emetteur">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Identifiant_Destinataire">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Date_Creation" type="xsd:dateTime" />
			<xsd:element name="Nature_Contrat" type="xsd:string" />
			<xsd:element name="Identifiant_Contrat" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Instance_GRD" minOccurs="0" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PRM" mixed="false">
		<xsd:sequence>
			<xsd:element name="Id_PRM" type="xsd:string"/>
			<xsd:element name="Type_Injection" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Donnees_Releve" type="Donnees_Releve"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Donnees_Releve" mixed="false">
		<xsd:sequence>
			<xsd:element name="Id_Releve">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="60" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Date_Releve" type="xsd:dateTime" />
			<xsd:element name="Ref_Situation_Contractuelle"
				minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Num_Sequence" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Id_Structure_Horosaisonniere"
				minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle_Structure_Horosaisonniere"
				minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Id_Calendrier_Distributeur" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle_Calendrier_Distributeur"
				minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Id_Calendrier" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle_Calendrier" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Type_Client" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="0" />
						<xsd:enumeration value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Niveau_Ouverture_Services">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="0" />
						<xsd:enumeration value="1" />
						<xsd:enumeration value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Type_Compteur">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="CCB" />
						<xsd:enumeration value="CEB" />
						<xsd:enumeration value="CFB" />
						<xsd:enumeration value="PSC" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Autoconsommation_Collective" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="0" />
						<xsd:enumeration value="1" />
						<xsd:enumeration value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut_Releve">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="INITIAL" />
						<xsd:enumeration value="RECTIFICATIF" />
						<xsd:enumeration value="ANNULE" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nature_Consommation" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="REEL" />
						<xsd:enumeration value="ESTIME" />
						<xsd:enumeration value="REGULARISE" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Origine_Evenement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="0" />
						<xsd:enumeration value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Motif_Releve" type="xsd:string" />
			<xsd:element name="Nature_Index" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="REEL" />
						<xsd:enumeration value="ESTIME" />
						<xsd:enumeration value="AUTO-RELEVE" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Motif_Rectif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="CONC_RLV" />
						<xsd:enumeration value="DYSF_CPT" />
						<xsd:enumeration value="DYSF_TO" />
						<xsd:enumeration value="CORR_IDX" />
						<xsd:enumeration value="FRAUDE_C5" />
						<xsd:enumeration value="FRAUDE_P4" />
						<xsd:enumeration value="CORR_CTRC5" />
						<xsd:enumeration value="CORR_CTRP4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Id_Releve_Precedent" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="60" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Date_Releve_Precedent" type="xsd:dateTime" minOccurs="0" />
			<xsd:element name="Motif_Releve_Precedent" type="xsd:string" minOccurs="0" />
			<xsd:element name="Nature_Index_Precedent" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="REEL" />
						<xsd:enumeration value="ESTIME" />
						<xsd:enumeration value="AUTO-RELEVE" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Id_Affaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Ref_Demandeur" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Ref_Regroupement_Demandeur" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Date_Theorique_Prochaine_Releve" type="xsd:date"
				minOccurs="0" />
			<xsd:element name="Classe_Temporelle_Distributeur"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="Classe_Temporelle_Distributeur" />
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Classe_Temporelle" type="Classe_Temporelle"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Classe_Temporelle" mixed="false">
		<xsd:sequence>
			<xsd:element name="Id_Classe_Temporelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle_Classe_Temporelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="250" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Rang_Cadran" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="2" />
						<xsd:maxInclusive value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Classe_Mesure">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="1" />
						<xsd:enumeration value="2" />
						<xsd:enumeration value="3" />
						<xsd:enumeration value="4" />
						<xsd:enumeration value="5" />
						<xsd:enumeration value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Unite_Mesure">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="kWh" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sens_Mesure">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="0" />
						<xsd:enumeration value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Valeur">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="15" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Valeur_Precedent" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="15" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nb_Chiffres_Cadran" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:maxInclusive value="15" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Indicateur_Passage_A_Zero" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="0" />
						<xsd:enumeration value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Coefficient_Lecture" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="15" />
						<xsd:fractionDigits value="15" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Num_Serie" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Classe_Temporelle_Distributeur"
		mixed="false">
		<xsd:sequence>
			<xsd:element name="Id_Classe_Temporelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle_Classe_Temporelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1" />
						<xsd:maxLength value="250" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Rang_Cadran" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="2" />
						<xsd:maxInclusive value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Classe_Mesure">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="1" />
						<xsd:enumeration value="2" />
						<xsd:enumeration value="3" />
						<xsd:enumeration value="4" />
						<xsd:enumeration value="5" />
						<xsd:enumeration value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Unite_Mesure">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="kWh" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sens_Mesure">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="0" />
						<xsd:enumeration value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Valeur">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="15" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Valeur_Precedent" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="15" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nb_Chiffres_Cadran" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:maxInclusive value="15" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Indicateur_Passage_A_Zero" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="0" />
						<xsd:enumeration value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Coefficient_Lecture" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="15" />
						<xsd:fractionDigits value="15" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Num_Serie" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
